<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TildeLAN 2015 Autumn</title>
</head>
<body>
<h1>List of available views:</h1>
<ul>
    <li><a href="big_slide.html">The Big Screen (slideshow)</a></li>
    <li><a href="big_programme.html">The Big Screen (programme only)</a></li>
    <li><a href="stream_nocasters.html">Stream (16x9, no-casters)</a></li>
    <li><a href="stream_casters.html">Stream (16x9, with casters)</a></li>
    <li><a href="video.html">Video, full-screen</a></li>
</ul>
</body>
</html>